<section id="footer" class="footer-wrapper">
    <div class="navbar-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container-fuild">
                <div class="content_footer">
                    <span class="font-monospace">&copy; All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</section>
